
label {
  display: inline-block;
  width: 120px;
}
input[type="range"] {
  display: inline-block !important;
  width: 300px !important;
}
fieldset {
  width: 550px;
  background-color: #eee;
  border: 1px solid grey;
}

#holder {
  position: relative;
}
#black-background {
  position: absolute;
  background-color: #000;
  top: 0;
  left: 0;
}
#main-image {
  position: absolute;
}
#main-canvas {
  position: absolute;
}
#max-disc-spacing, #min-disc-spacing {
  width: 800px;
}

td {
  vertical-align: top;
  padding: 10px !important;
}

legend.scheduler-border {
  width:inherit; /* Or auto */
  padding:0 10px; /* To give a bit of padding on the left and right */
  border-bottom:none !important;
  padding: 10px !important;
}
