
label {
  display: inline-block;
  width: 150px;
}
input[type="range"] {
  width: 500px;
}

#holder {
  position: relative;
  height: 1000px;
}
#black-background {
  position: absolute;
  background-color: #000;
}
#main-image {
  position: absolute;
}
#main-canvas {
  position: absolute;
}
#max-disc-spacing, #min-disc-spacing {
  width: 800px;
}
