<!doctype html>
<html lang="en" ng-app="imagepoints">

<head>

  <title>Image Points Renderer</title>

  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/angular-motion.min.css">
  <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/bootstrap-additions.min.css">
  <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/libraries.min.css">
  <link rel="stylesheet" href="//mgcrea.github.io/angular-strap/styles/main.min.css">

  <script src="bower_components/jquery/dist/jquery.min.js"></script>

</head>

<body ng-controller="ImagepointsController">

<table><tr>

  <td id="control-pane">

    <fieldset ng-controller="GridController">
      <legend>Grid Tool</legend>

      <ip-labeled-slider label="Hole Spacing" min ="1" max="50.0" step ="0.01" ng-model="blockSize"></ip-labeled-slider>
      <ip-labeled-slider label="Hole Size" min ="1" max="50.0" step ="0.01" ng-model="holeSize"></ip-labeled-slider>

      <input type="button" ng-click="generateGridPoints()" value="generate grid points"/>

    </fieldset>

    <fieldset ng-controller="DiscController">
      <legend>Modified Poisson Disc Tool</legend>

      <ip-labeled-slider label="Min Spacing" min ="0.1" max="100.0" step ="0.01" ng-model="minSpacing"></ip-labeled-slider>
      <ip-labeled-slider label="Max Spacing" min ="0.1" max="100.0" step ="0.01" ng-model="maxSpacing"></ip-labeled-slider>
      <ip-labeled-slider label="Brightness Effect" min ="0" max="10" step ="0.01" ng-model="brightnessEffect"></ip-labeled-slider>

      <input type="button" ng-click="generateDiscPoints()" value="generate disc points"/>

    </fieldset>


    <fieldset>
      <legend>Output G-code</legend>

      <ip-labeled-slider label="Output Width" min ="1" max="50" step =".0625" ng-model="outputWidth"></ip-labeled-slider>
      <ip-labeled-slider label="Output Height" min ="1" max="50" step =".0625" ng-model="outputHeight"></ip-labeled-slider>

      <input type="button" value="produce g-code" ng-click="generateGcode()"/><br>

    </fieldset>

  </td>

  <td id="image-pane">

    <div>
      <label for="use-proxy">use proxy</label>
      <input id="use-proxy" type="checkbox" ng-model="useProxy" bs-checkbox/>
    </div>

    <label for="image-url">URL:</label> <input type="text" id="image-url" size="50" ng-model="imageUrl"/>
    <input type="button" id="load-image-button" value="load image" ng-click="loadImage()"/>
    <br>

    <div>
      <label for="show-image">show image</label>
      <input id="show-image" type="checkbox" checked ng-model="showImage" bs-checkbox/>
    </div>

    <div id="holder">
      <div id="black-background"></div>

      <img id="main-image" ng-show="showImage"/>
      <canvas id="main-canvas">You need canvas support for this.</canvas>
    </div>

  </td>


</tr></table>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
  <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
  <script src="app/scripts/app.js"></script>
  <script src="app/scripts/directives/ipLabeledSlider.js"></script>
  <script src="app/scripts/controllers/GridController.js"></script>
  <script src="app/scripts/controllers/DiscController.js"></script>

</body>

</html>
